
        <style type="text/css">
			
			.hide{
				display: none !important;
			}
			
			#bodyCell{
				
			}

			
			#templateContainer{
				
			}

			
		
			#templatePreheader{
				 background-color:#FFF;

			}

			
			.preheaderContentEmail{
				 color:#808080;
				 font-family:Helvetica;
				 font-size:10px;
				 line-height:125%;
				 text-align:left;
			}

			
			.preheaderContentEmail a:link, .preheaderContentEmail a:visited,  .preheaderContentEmail a .yshortcuts {
				 color:#606060;
				 font-weight:normal;
				 text-decoration:underline;
			}

			
			#templateHeader{
				 background-color:#FFF;

			}

			
			.headerContentEmail{
				 color:#505050;
				 font-family:Helvetica;
				 font-size:20px;
				 font-weight:bold;
				 line-height:100%;
				 padding-top:0;
				 padding-right:0;
				 padding-bottom:0;
				 padding-left:0;
				 text-align:left;
				 vertical-align:middle;
			}

			
			.headerContentEmail a:link, .headerContentEmail a:visited,  .headerContentEmail a .yshortcuts {
				 color:#EB4102;
				 font-weight:normal;
				 text-decoration:underline;
			}

			#headerImage{
				height:auto;
				max-width:600px;
			}

			

			
			#templateBody{
				 background-color:#FFF;

			}

			
			.bodyContent{
				 color:#505050;
				 font-family:Helvetica;
				 font-size:14px;
				 line-height:150%;
				padding-top:20px;
				padding-right:20px;
				padding-bottom:20px;
				padding-left:20px;
				 text-align:left;
			}

			
			.bodyContent a:link, .bodyContent a:visited,  .bodyContent a .yshortcuts {
				 color:#EB4102;
				 font-weight:normal;
				 text-decoration:underline;
			}

			.bodyContent img{
				display:inline;
				height:auto;
				max-width:560px;
			}

			

			
			#templateFooter{
				 background-color:#FFF;
			}

			
			.footerContent{
				 color:#808080;
				 font-family:Helvetica;
				 font-size:10px;
				 line-height:150%;
				padding-top:20px;
				padding-right:20px;
				padding-bottom:20px;
				padding-left:20px;
				 text-align:left;
			}

			
			.footerContent a:link, .footerContent a:visited,  .footerContent a .yshortcuts, .footerContent a span {
				 color:#606060;
				 font-weight:normal;
				 text-decoration:underline;
			}

			#tabledesktop { display: table; }
			#tablemobile { display: none; }

			

            @media only screen and (max-width: 480px){
				
					#bodyCell{padding:10px !important;}

				

				

				
				#templateContainer{
					max-width:600px !important;
					 width:100% !important;
				}

				

				

				#templatePreheader{display:none !important;} 

				#tabledesktop { display: none; }
				#tablemobile { display: table; }
				
				#headerImage{
					height:auto !important;
					 max-width:600px !important;
					 width:100% !important;
				}

				


				.footerContent a{display:block !important;} 
			}
		</style>


    	<center>
        	<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            	<tr>
                	<td align="center" valign="top" id="bodyCell">

                    	<table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
                        	<tr>
                            	<td align="center" valign="top">

                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader">
                                        <tr>
                                            <td valign="top" class="preheaderContentEmail" style="padding-top:10px; padding-right:20px; padding-bottom:10px; padding-left:20px;" mc:edit="preheader_content00">
                                               Pedido #<span data-mailer="num-pedido"></span>
                                            </td>

                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
          
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                                        <tr>
                                            <td valign="top" class="headerContentEmail">

                                                <img src="http://pizzahutbrasilia.com.br/App/views/public/images/logo-alt.png" width="150" height="auto" style="margin-left: 15px" alt="Dídio Pizza"/>
                                            </td>
                                        </tr>
                                    </table>
                   
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
              
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                                        <tr>
                                            <td valign="top" class="bodyContent" mc:edit="body_content" style="font-family: 'Courier New', Courier, monospace; text-transform: uppercase">
                                                <h1>  Pedido #<span data-mailer="num-pedido"></span> </h1>
                                                Pedido realizado em <span data-mailer="hora-pedido"></span>
                                                <br />
                                                <br />
                                                <br />
                                                <h2>Cliente</h2>
                                                <span style="font-weight: bold">Nome:</span> <span data-mailer="nome-cliente-pedido"></span><br />
                                                <span style="font-weight: bold">E-mail:</span> <span data-mailer="email-cliente-pedido"></span><br />
                                                <span style="font-weight: bold">Telefone:</span> <span data-mailer="telefone-cliente-pedido"></span><br />

                                                <br />
                                                <br />
                                                <h2>Endereço</h2>
                                                <span style="font-weight: bold">Loja atendente:</span> <span data-mailer="loja-atendente-pedido"></span><br />
                                                <span style="font-weight: bold">Endereço de entrega:</span> <span data-mailer="end-entrega-pedido"></span><br />
                                                <span style="font-weight: bold">CEP:</span> <span data-mailer="cep-entrega-pedido"></span><br />
                                                <span style="font-weight: bold">Cidade:</span> <span data-mailer="cidade-entrega-pedido"></span><br />

                                                <br />
                                                <br />
                                                <h2>Pedido</h2>
                                                <span data-mailer-list="itens-pedido"></span>
                                                <h2>TOTAL: R$ <span data-mailer="total-pedido"></span></h2>
                                                <br class="cupom-hidden" /><br class="cupom-hidden" />

                                                <h2 class="cupom-hidden"  style="display: none;">DESCONTO POR CUPOM: <span data-mailer="cupom-pedido" class="cupom-hidden" ></span></h2>
                                                <span class="cupom-hidden" style="display: none; font-weight: bold">Código:</span> <span data-mailer="codigo-cupom-pedido" class="cupom-hidden"  style="display: none;"></span><br class="cupom-hidden" style="display: none;" />
                                                <span class="cupom-hidden" style="display: none; font-weight: bold">Valor:</span> <span  data-mailer="valor-cupom-pedido" class="cupom-hidden"  style="display: none;"></span><br class="cupom-hidden" style="display: none;" />
                                                <br class="cupom-hidden" style="display: none;" />


                                                <h2>Pagamento</h2>
                                                FORMA:  <span data-mailer="forma-pagamento-pedido"></span><br />
                                               <span data-mailer="txt-troco-para-pedido"> TROCO PARA: </span> <span data-mailer="troco-para-pedido"></span><br />
                                               <span data-mailer="txt-valor-troco-pedido"> VALOR DO TROCO:</span> <span data-mailer="valor-troco-pedido"></span><br />


                                                <br />
                                                <br />
                                                <br />

                                                Acesse: <a href="http://pizzahutbrasilia.com.br/" style="padding: 10px 15px;  color: #EB4102; text-decoration: none;">Dídio Pizza.</a>
                                            </td>
                                        </tr>
                                    </table>
                  
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
       
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                        <tr>

                                        </tr>
                                        <tr>
                                            <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content01">

                                                <p>Copyright &copy; 2015 Dídio Pizza, Todos os direitos reservados. <a href="http://accon.com.br" style="float: right"><img src="http://pizzahutbrasilia.com.br/App/views/public/images/accon-black.png" width="70" height="auto" alt="_accon"/></a></p>

                                            </td>
                                        </tr>
                                        <tr>
                                        </tr>
                                    </table>
       
                                </td>
                            </tr>
                        </table>
       
                    </td>
                </tr>
            </table>
        </center>
