

    <section class="container autoheight hidden spacing" id="login"  view="Lojas">
        
        <div class="row" style="margin-bottom: 30px">

            <article class="col col-md-12">

                <h1 style="margin: 0px">
                    Lojas
                    <select>
                        <option>DF</option>
                    </select>
                </h1>

                <p>Encontre uma loja perto de você</p>

            </article>

        </div>

        <div class="row">

        <ul class="col col-md-6 lojaslist" id="lojas" list="lojasEcommerce"> </ul>

            <article class="col col-md-6 hidden-xs">

                <div class="col-md-12 imagecanvas" style="background-image: url(App/views/public/images/about/02.jpg); height: 300px"></div>

            </article>

        </div>

    </section>

    

