

    <section class="container aux autoheight hidden spacing" id="login"  view="Contato">

         <div class="row">
            <div class="col-md-12 imagecanvas" style="background-image: url(App/views/public/images/about/14.jpg)"></div>
            <div class="col col-md-12">
                <h1 style="margin-bottom: 0px;">SAC</h1>
                <p>Para dúvidas, sugestões ou reclamações</p>
            </div>
        </div>

        <div class="row">

            <article class="col col-md-6">

                <form id="sac" submit="sac">

                    <p><input type="text" name="nome" requi placeholder="Nome" required="required"/> <span class="required">*</span> </p>

                    <p><input type="email" name="email" placeholder="E-mail" required="required"/> <span class="required">*</span> </p>

                    <p><input type="text" name="fone" mask="PHONE" placeholder="(DDD) + Telefone" required="required"/> <span class="required">*</span> </p>

                    <p><textarea placeholder="Mensagem" name="texto" rows="5" required="required"/></textarea></p>

                    <p><button>Enviar</button></p>

                </form>

            </article>

            <article class="col col-md-6">
                <div class="margin10">
                    <p style="margin-bottom: 35px;"><i class="icon flaticon-black402"></i> contato@pizzahutdf.com.br</p>
                    <p class="visible-lg">Siga-nos nas redes sociais</p>
                    <p class="visible-lg">
                        <big>
                            <a style="color: rgb(85,85,85); text-decoration: none;" href="https://pt-br.facebook.com/pizzahutbrasil/" target="_blank"><i class="flaticon-facebook56"></i></a> 
                            <a style="color: rgb(85,85,85); text-decoration: none;" href="https://instagram.com/pizzahutbrasil/" target="_blank"><i class="flaticon-instagram16"></i></a> 
                            <a style="color: rgb(85,85,85); text-decoration: none;" href="https://twitter.com/pizzahutbr/" target="_blank"><i class="flaticon-twitter47"></i></a>
                        </big>
                    </p>
                    <div>
                        <p>Baixe o aplicativo móvel</p>
                        <p><a target="_blank" href="https://itunes.apple.com/us/app/pizza-hut-brasilia/id1010678858?l=pt&ls=1&mt=8"><img src="App/views/public/images/apple.png"/></a></p>
                        <p><a target="_blank" href="https://play.google.com/store/apps/details?id=br.com.accon.pizzahut.brasilia"><img src="App/views/public/images/google.png"/></a></p>
                        <p><a target="_blank" href="https://www.microsoft.com/pt-br/store/apps/pizza-hut-brasilia/9nblggh2vbx3"><img src="App/views/public/images/windows.png"/></a></p>
                    </div>
                </div>
                <p><br/></p>
                <div>
                    
                </div>
            </article>

        </div>

    </section>

   