
    <section class="container hidden spacing" id="content" view="Recover">
 
        <article class="row" style="margin-bottom: 15px">
            <div class="col col-md-12">
                <h1 class="nomargin">Alteração de Senha</h1>

                <span class="success-logged logOff-user pointer" title="clique para sair" role="btn-logoff"><div class="glyph-icon flaticon-thumb54"></div></span>  
              <span class="success-logged logOff-user pointer"  style="padding: 9px 11px 9px 12px !important;"><h6>Token Validado!</h6></span>

             
            </div>
        </article>

        <article class="row">
            <form class="col col-md-6" submit="update-pwd" autocomplete="off">

                 <article class="boxcenter alert alert-warning">
                    <p>Preencha o formulário abaixo para efetuar a edição.</p>
                </article>
                                    
                <div>
                
                    <p><input type="password" name="pwd" placeholder="Senha" required/><span class="required">*</span></p>
                    <p><input type="password" name="re-pwd" placeholder="Confirme a Senha" required /><span class="required">*</span></p>
   
                       <button>Alterar Senha</button>
                </div>
             </form>

        </article>



              
    </section>
