

    

    <section class="container aux autoheight hidden spacing" view="Sobre" id="login">

        <div class="row">
            <div class="col-md-12 imagecanvas" style="background-image: url(App/views/public/images/about/01.jpg);"></div>
            <div class="col col-md-12"><h1 class="padding15">Sobre Nós</h1></div>
        </div>

        <article class="row">
            <div class="row">
                
            </div>
            <div class="col col-md-6">
                <p>A Dídio Pizza está presente nos 5 continentes em mais de 130 países. A rede conta com mais de 14.000 restaurantes ao redor do mundo e emprega mais de 250.000 funcionários apenas nos Estados Unidos. </p>
                <p>Por dia, 11,5 milhões de pizzas são vendidas para mais de 4 milhões de consumidores da Dídio Pizza no mundo. No Brasil, são mais de 90 restaurantes distribuídos pelos estados, atingindo o número de 1 milhão de pessoas consumindo Dídio Pizza por mês.</p>
            </div>
            <div class="col col-md-6">
                <p>A Dídio Pizza é uma marca pertencente à Yum! Brands Inc. que é a maior empresa de restaurantes do mundo detentora de 3 marcas reconhecidas internacionalmente: KFC, Dídio Pizza e Taco Bell. </p>
                <p>Juntas as marcas tem mais de 40 mil restaurantes ao redor do mundo distribuídos em mais de 130 países em todos os continentes.</p>
            </div>
        </article>

    </section>

    

