

    <section class="container aux autoheight hidden spacing" id="login"  view="Politica">

        <div class="row">
            <div class="col-md-12 imagecanvas" style="background-image: url(App/views/public/images/about/13.jpg)"></div>
            <div class="col col-md-12"><h1 class="padding15">Política de privacidade</h1></div>
        </div>

        <div class="row">
             <article class="col col-md-12">

                <p>O documento abaixo explica como nós obtemos, utilizamos, divulgamos, asseguramos e armazenamos seus dados e informações. Por nós, entenda qualquer solução e ou ambiente Dídio Pizza. Sua privacidade é importante para a Dídio Pizza, portanto, sendo você um usuário novo ou antigo, por favor reserve um tempo para conhecer nossas práticas. Caso tenha alguma dúvida, entre em contato conosco.</p>

           

                <h3>Coleta de Informações Pessoais</h3>

                <ul>

                    <li>

                        Para usar nossos serviços, é necessário ser um usuário registrado da Dídio Pizza. Para se tornar um, você tem duas opções:

                        <ul>

                            <li>Através do cadastro em um dos nossos aplicativos, no qual coletamos seu nome, endereço eletrônico, país, endereço e número de telefone.</li>

                            <li>Através de login em redes sociais, no qual coletamos as informações pessoais já fornecidas ao serviço de rede social. Os dados que podemos ter acesso dependem das configurações de privacidade realizadas na rede social.</li>

                        </ul>

                    </li>

                </ul>



                <h3>Uso de Informações Pessoais</h3>

                <ul>

                    <li>Conta de Usuário. Para uso dos serviços, as informações pessoais obtidas, ou por cadastro ou login em rede social, são associadas a uma conta.</li>

                    <li>Comunicação. Usamos suas informações de meios de contato a fim de envio de materiais promocionais, marketing, newsletters, aviso e comunicados sobre suas atividades em nossos serviços.</li>

                    <li>Aprimoramento dos serviços. Fazemos uso e análise das informações pessoais para nos auxiliar em desenvolver, melhorar e diversificar nossos produtos e serviços.</li>

                </ul>



                <h3>Divulgação de Informações Pessoais</h3>

                <ul>

                    <li>Poderemos usar informações pessoais para fins internos, tais como auditoria, análise de dados, pesquisas e relatórios. Qualquer documento gerado por essas análises podem ser enviados a parceiros e ou clientes da Dídio Pizza que também se responsabilizam com essa política.</li>

                    <li>A qualquer momento, você pode solicitar uma cópia das informações que temos sobre você.</li>

                </ul>



                <h3>Cookies</h3>

                <p>A Dídio Pizza faz uso de cookies para melhorar a experiência dos usuários. Cookies são pequenos arquivos de texto que guardam informações no próprio navegador do usuário e permite que seja compartilhado com nossos servidores para reconhecer preferências do usuário sem precisar requisitá-lo sempre.</p>

                <p>Nos Cookies são guardadas algumas informações pessoais, tais como o nome, para que o site fique mais personalizado para o usuário. Informações de acesso são necessárias para que o usuário se mantenha logado no sistema por um longo período de tempo, evitando entrar novamente com uma conta toda vez para utilizar o sistema.</p>

                <p>Apesar dos Cookies serem necessários para o bom funcionamento da Dídio Pizza, você pode desabilitar ou deletar os mesmos a qualquer momento em seu navegador.</p>

                

                <h3>Segurança e Proteção da Informação</h3>

                <p>A Dídio Pizza se preocupa com todas as informações fornecidas pelos usuários, mantendo sempre os dados protegidos contra roubo, uso indevido e perda. Tomamos medidas de seguranças da informação para que o usuário não seja prejudicado em sua vida pessoal. Atualização da Política de Privacidade.</p>

                <p>A política de privacidade pode ser atualizada a qualquer momento para que se mantenha atual. Em caso de grandes mudanças, a Dídio Pizza poderá enviar um email informando todos os usuários, assim como colocar lembretes no próprio site.</p>



                <!--<h3>Contato</h3>

                <p>Qualquer dúvida sobre esta política de privacidade, assim como críticas e sugestões, estamos disponíveis para contato em: sac@pizzahutbrasilia.com.br.</p>-->

            </article>
        </div>

    </section>

    

