<!DOCTYPE html>



<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="content-language" content="pt-br"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>_accon.:e-commerce</title>
    <link href="<?php echo PATH_PUBLIC; ?>css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <!--<link href='http://fonts.googleapis.com/css?family=Oxygen:700,400' rel='stylesheet' type='text/css'>-->
    <link href="<?php echo PATH_PUBLIC; ?>font/oxygen/regular/stylesheet.css" rel="stylesheet">
    <link href="<?php echo PATH_PUBLIC; ?>font/oxygen/strong/stylesheet.css" rel="stylesheet">
    <link href="<?php echo PATH_PUBLIC; ?>font/oxygen/light/stylesheet.css" rel="stylesheet">

    <!--<script src="cordova.js"></script>-->

    <link href="<?php echo PATH_PUBLIC; ?>css/flaticon/flaticon.css" rel="stylesheet">
    <link href="<?php echo PATH_PUBLIC; ?>css/main.css" rel="stylesheet">
    <link href="<?php echo PATH_PUBLIC; ?>font-awesome/css/font-awesome.css" rel="stylesheet">
    <script src="<?php echo PATH_PUBLIC; ?>js/vendor/jquery-1.11.1.min.js" onLoad=" _jquery = true"></script>
    <script src="<?php echo PATH_PUBLIC ?>jquery-ui/jquery-ui.js"></script> 
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSychhANxJtKy8FOsVOl0OKfk2SQTwqCc"> </script>
     <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                center: { lat: -34.397, lng: 150.644},
                zoom: 8
            };
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        }
        //google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        var CONFIG;
        var _jquery;
        var _plugins; 
        var _view;
        var _model;
        var _auth;
    </script>
</head>

<body>
    <div id="viewchange"></div>
    
    <div id="alert">
        <div class="container">
            <div class="col col-md-4"></div>
            <div class="col col-md-4">
                <h3></h3>
                <p class="body"></p>
                <p><button class="alt action">Ação</button> <button class="alt exit">Fechar</button></p>
            </div>
            <div class="col col-md-4"></div>
        </div>
    </div>




   <div id="product" container="Plus-Product">
        <div class="container product-container">
            <div class="row title"> <!-- CLASSE ADICIONADA -->
                <article class="col col-md-12">
                    <h2><i id="exit" class="icon flaticon-close47 pull-right hidden-xs close"></i><i id="exit" class="icon flaticon-left217"></i> <span data-text="label-details"></span>  </h2>
                </article>
            </div>
            <div class="row">
             
                
                    <form class="col col-md-6" container="options-pizza">
                 
                                      <!--<div class="alert alert-warning hide" role="alert">
                                                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                 <strong>Atenção!</strong> Agora você deve escolher a outra metade da Pizza.
                                        </div>-->   
                                        <span class="hidden" data-container="massas">
                                                <h4>Qual a massa?</h4>
                                                <div class="row sizes section">
                                                    <div class="col-md-12"> 
                                                        <div class="row" list="tipos"></div>
                                                    </div>
                                                </div>
                                        </span>

                                        <span class="hidden" data-container="tamanho">
                                              <h4>Qual o tamanho?</h4>
                                                  <div class="row sizes section">
                                                        <div class="col-md-12"> 
                                                         <div class="row" list="tamanho-product"> </div> 
                                                    </div>
                                                </div>
                                        </span>

                                        <span class="hidden" data-container="fracao">
                                             <h4>Meia ou inteira?</h4>
                                                <div class="row sizes section">
                                                    <div class="col-md-12"> 
                                                       
                                                        <div class="row size-product"> 
                                                            <div class="col-xs-6 half-size hidden" data-value="0.5">
                                                                <small>Meia</small>
                                                                <div class="col" style="opacity: 0.3; background-image: url(http://ecommerce.accondev.com.br//App/views/public/images/1-2.png)">
                                                                    <input type="checkbox"/>
                                                                </div> 
                                                            </div>
                                                            <div class="col-xs-6" data-value="1">
                                                                <small>Inteira</small>
                                                                <div class="col active" style="background-image: url(http://ecommerce.accondev.com.br//App/views/public/images/6.png)">
                                                                    <input type="checkbox"/>
                                                                </div> 
                                                            </div>
                                                        </div> 

                                                    </div>
                                                </div>
                                        </span>



                                    <span class="hidden" data-container="options">
                                            <div class="row section">
                                                <div class="col-md-12">
                                                    <button class="alt" id="more" type="button">Mais opções</button>
                                                </div>
                                                <div id="morepanel">
                                                    <div class="col-md-6"> 
                                                        <h4>Adicionar?</h4>
                                                        <span class="list" list="adicionais"></span>
                                                    </div>
                                                    <div class="col-md-6"> 
                                                        <h4>Remover?</h4>
                                                        <span class="list" list="retirados"></span>
                                                    </div>
                                                </div>
                                            </div>
                                    </span>
                           </form>
                    




                <article class="col col-md-6 data-transform">

                    <div class="pizzametade hide" role="alert">
                        Escolha a segunda metade da sua pizza
                    </div>  

                            <ul class="products">
                                <li class="product">
                                    <div class="cover meia" recept="img-product">
                                        <div  class="" style="background-image: url(http://ecommerce.accondev.com.br/App/views/public/images/produtos/pizzas_brasileira.jpg)"></div>
                                        <div class="" style="background-image: url(http://ecommerce.accondev.com.br/App/views/public/images/produtos/pizzas_calabresa.jpg)">
                                            <i class="flaticon-expand39 icon up"></i>
                                            <i class="flaticon-expand38 icon down"></i>
                                        </div>
                                  
                                    </div>
                                    
                                    <!--<h4 class="nomargin descricao-product"> </h4>     FOI PARA BAIXO      --> 
                                </li>
                                <div class="productinfo row">
                                    <div data-container="integer-display-product">
                                        <h4 class="nomargin descricao-product">PIZZA ARTESANALE GRANDE CALABRESA</h4>
                                        <p recept="desc-product">Um hambúrguer enorme, 3 deliciosas fatias de queijo, tomate, alface crocante, cebola e molho especial. Tudo isso com um acompanhamento e uma bebida por um preço especial.</p>
                                        <div class="text-right">
                                                <p class="nomargin" list="options-remove-product"></p>
                                                <p class="nomargin" list="options-param-product"></p>
                                                <span class="add"></span>
                                                <span class="remove"></span>
                                                <h3 style="margin-top: 0px;" class="hide" recept="value-product-final">R$ 0,00</h3>
                                                <h3 style="margin-top: 0px;" recept="value-product">R$ 0,00</h3>
                                        </div>

                                    </div>
                                   
                                    <!-- USAR O TRECHO ABAIXO SOMENTE PARA MEIA PIZZA -->
                                   
                                     <span class="hide" data-container="half-display-product">                   
                                            <p class="text-center plus"><i class="flaticon-add182 icon"></i></p>
                                            <div>
                                                <h4 class="nomargin descricao-product">PIZZA ARTESANALE GRANDE CALABRESA</h4>
                                                <p recept="desc-product">Um hambúrguer enorme, 3 deliciosas fatias de queijo, tomate, alface crocante, cebola e molho especial. Tudo isso com um acompanhamento e uma bebida por um preço especial.</p>
                                                <div class="text-right">
                                                        <p class="nomargin" list="options-remove-product"></p>
                                                        <p class="nomargin" list="options-param-product"></p>
                                                        <span class="add-half"></span>
                                                        <span class="remove-half"></span>
                                                        <h3 style="margin-top: 0px;" recept="value-product">R$ 0,00</h3>
                                                </div>
                                            </div>
                                    </span>


                                </div>
                                <div class="text-right hide" data-box="total-half-product">
                                        <h1 style="margin-top: 0px;" recept="value-product">R$ 0,00</h1>
                                </div>
                            </ul>
                            
                            


                            <div class="row actions">
                                <div class="col-md-6 col">
                                    <div class="text-center cart" id="qnt" data-maxlength="10">
                                        <button class="text-center pull-left alt" data-type="minus"><i class="flaticon-horizontal39 icon"></i></button> 
                                        <big>1</big> 
                                        <button class="text-center pull-right alt" data-type="plus"><i class="flaticon-add186 icon"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-6 col">
                                    <div class="text-right">
                                        <button style="width: 100%" class="addtocart" action="save">Pedir</button>
                                    </div>
                                </div>
                            </div>
                </article>

            </div>
        </div>
    </div>



    <noscript>
        <div id="alert" class="block">
            <div class="container">
                <div class="col col-md-4"></div>
                <div class="col col-md-4">
                    <h3>Erro</h3>
                    <p class="body">Seu navegador está com o JavaScript desativado. Ative-o no painel de configurações do seu navegador para continuar. <br/> Assistencia Técnica: 0800 23245</p>
                    <p></p>
                </div>
                <div class="col col-md-4"></div>
            </div>
        </div>
    </noscript>
    <!-- HEADER -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col col-xs-4 col-md-8">
                <img target="Cardapio" action="view" id="logoleft" class="logo hidden-xs pull-left" src="<?php echo PATH_PUBLIC; ?>images/logo.png"/>
                <div id="menu">
                    <a href="#">
                        <i class="hidden-lg pull-left flaticon-menu55"></i>
                    </a>
                </div>
                <nav id="nav" class="visible-lg pull-left">
                    <a href="#" target="Cardapio" action="view"><i class="icon flaticon-show6"></i> Cardápio</a>
                    <!--<a href="#" target="Cardapio" action="view"><i class="icon flaticon-location41"></i> Informe seu CEP</a>-->
                    <a href="login.php" id="user" target="login-check" action="view">
                        <div class="userimg hidden"></div>
                        <i class="icon-facebook hide hiflaticon-facebook56"></i><i class="icon-google hide flaticon-google120"></i> <span target="name-login"><i class="icon flaticon-user157"></i> Login</span>
                    </a>
                   
                    <a href="#" class="hidden" target="Recover" action="view"></a>
                    <a href="#" class="hidden" target="MeusDados" action="view"></a>
                    <a href="#" class="hidden" target="Pedidos" action="view"><i class="icon flaticon-list89"></i> Meus Pedidos</a>
                    <a href="#" target="Lojas" action="view"><i class="icon flaticon-map103"></i> Lojas</a>
                    <a href="#" target="Contato" action="view"><i class="icon flaticon-black402"></i> SAC</a>
                     <a href="#" target="Politica" action="view" class="visible-xs"><i class="icon flaticon-visibility1"></i> Política de privacidade</a>
                    <a href="#" target="Sobre" action="view" class="visible-xs"><i class="icon flaticon-city24"></i> Sobre nós</a>
                    <a class="hide" href="#" id="logout"><i class="icon flaticon-exit13"></i> Sair</a> <!-- INSERIR DINAMICAMENTE QUANDO OAUTH_USER ESTIVER CARREGADO -->
                    <!-- <a href="javascript: setLoja()">setLoja()</a> -->
                    <a href="#" class="visible-xs" id="accon"><img src="<?php echo PATH_PUBLIC; ?>images/accon_w.png"/></a>
                </nav>
            </div>
            <div target="Cardapio" action="view" class="col col-xs-4 col-md-2 hidden-md text-center"> <div id="logomiddle" class="visible-xs" style="background-image: url(<?php echo PATH_PUBLIC; ?>images/logo.png)"></div></div>
            <div class="col col-xs-4 col-md-4 text-right"> 
                <div id="cart" class="border">
                    <i class="icon flaticon-shopping232"></i> 
                    <p class=""> <i class="badge num-produtos">0</i> <span class="hidden-xs">Itens</span><strong class="hidden-xs" role="total-pedido">R$ 0,00</strong></p>
                    <p class="hidden"><span class="hidden-xs cep noborder" action="drop-cep-check"><!--<i class="icon flaticon-map103"></i>--> <span data-value="name-loja">Cesta de itens</span></span></p>
                </div>
                <nav id="basket" class="">
                    <div list="itens-pedido">
                        <h4 class="white nomargin text-center">Cesta de itens</h4>
                        <p class="empty">
                            <small>Nenhum item selecionado</small> 
                        </p>
                    </div>
                    <i class="flaticon-left216 back"> <cite class="hidden-xs">continuar</cite> </i>
                    <a href="finalizar.php" target="Finaliza" class="checkout hide" action="view"> <strong role="total-pedido">R$ 0,00</strong>Finalizar <i class="flaticon-right244"></i></a>
                    <a href="finalizar.php" target="Finaliza-check" class="checkout" action="view"> <strong role="total-pedido">R$ 0,00</strong>Finalizar <i class="flaticon-right244"></i></a>
                </nav>
            </div>
          

            </div>
        </div>
    </header>
    <!-- ## MENU NAV -->
    <nav id="groups">   
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-10 col-lg-11 col-xs-10 category">
                    <div class="row" id="categs">
                        <div class="col col-xs-2" data-ref="PROMOÇÕES"><img src="<?php echo PATH_PUBLIC; ?>images/promocoes.png"/><span class="hidden-xs">PROMOÇÕES</span></div>
                        <div class="col col-xs-2" data-ref="PIZZAS"><img src="<?php echo PATH_PUBLIC; ?>images/pizza.png"/><span class="hidden-xs">PIZZAS</span></div>
                        <div class="col col-xs-2" data-ref="BEBIDAS"><img src="<?php echo PATH_PUBLIC; ?>images/bebidas.png"/><span class="hidden-xs">BEBIDAS</span></div>
                        <div class="col col-xs-2" data-ref="MASSAS"><img src="<?php echo PATH_PUBLIC; ?>images/massas.png"/><span class="hidden-xs">MASSAS</span></div>
                        <div class="col col-xs-2" data-ref="ENTRADAS"><img src="<?php echo PATH_PUBLIC; ?>images/entradas.png"/><span class="hidden-xs">ENTRADAS</span></div>
                        <div class="col col-xs-2" data-ref="SOBREMESAS"><img src="<?php echo PATH_PUBLIC; ?>images/sobremesa.png"/><span class="hidden-xs">SOBREMESAS</span></div>
                    </div>
                </div>
                <!--<div class="col col-md-2 search"></div>-->
                <div class="col col-md-2 col-lg-1 col-xs-2 totop search">
                    <i class="icon flaticon-expand38 visible-xs nomargin details"></i>
                    <input class="hidden-xs" id="search" type="search" placeholder="Buscar"/><a href="#" class="dosearch hidden-xs"><i class="icon flaticon-search100"></i></a>
                </div>
            </div>
        </div>
        <div id="groupsdetails">
            <div data-ref="PROMOÇÕES"><img src="<?php echo PATH_PUBLIC; ?>images/promocoes.png"/> PROMOÇÕES</div>
            <div data-ref="PIZZAS"><img src="<?php echo PATH_PUBLIC; ?>images/pizza.png"/> PIZZAS</div>
            <div data-ref="BEBIDAS"><img src="<?php echo PATH_PUBLIC; ?>images/bebidas.png"/> BEBIDAS</div>
            <div data-ref="MASSAS"><img src="<?php echo PATH_PUBLIC; ?>images/massas.png"/> MASSAS</div>
            <div data-ref="ENTRADAS"><img src="<?php echo PATH_PUBLIC; ?>images/entradas.png"/> ENTRADAS</div>
            <div data-ref="SOBREMESAS"><img src="<?php echo PATH_PUBLIC; ?>images/sobremesa.png"/> SOBREMESAS</div>
            <div class="search">
                <input id="search" type="search" placeholder="Buscar"/><a href="#" class="dosearch pull-right"><i class="icon flaticon-search100"></i></a>
            </div>
        </div>
    </nav>

    
    <div id="banner" class="visible-xs">
        <i class="icon flaticon-close47 pull-left closebanner"></i><span class="pull-right openbasket">Finalizar <i class="icon flaticon-right244"></i></span><p><span class="badge">99</span> <i class="icon flaticon-shopping232"></i> R$999.99</p>
    </div>
    <!-- ## AVISO PIZZA PELA METADE -->

    <div id="pizzametade" class="hide">
        <p>Selecione agora a segunda metade da sua pizza</p>
    </div>

    <input type="hidden" name="PATH_URL" value="<?=PATH_URL?>">
    <!-- Aplicar condições de exibição aqui -->
    <div id="map" class="container-fluid hidden"></div>
    <div class="container-fluid" id="promocoes" data-speed="5000">
        <div class="control glide__arrows hidden">
            <i data-glide-dir="<" class="icon flaticon-keyboard54 pull-left "></i>
            <i data-glide-dir=">" class="icon flaticon-keyboard53 pull-right"></i>
        </div>
        <div class="row glide__track">
            <article class="slide glide__slide" style="background-image: url(<?php echo PATH_PUBLIC; ?>images/4.jpg)" onClick=""></article>
            <article class="slide glide__slide" style="background-image: url(<?php echo PATH_PUBLIC; ?>images/0.jpg)" onClick=""></article>
        </div>
        <ul class="glide__bullets bullets"></ul>
        <!--<article class="col col-lg-12" style="background-image: url(<?php echo PATH_PUBLIC; ?>images/2.jpg)"></article>-->
    </div>
<!-- // CONTAINER CONTENT -->
    <section class="container-fluid" id="content" container="all-content">  
            <?php ControllerFront::makeObj(PATH_CONTROLLER, "ControllerView")->_set(array('VIEW' => array(  0 => 'Cardapio',
                                                                                                            1 => 'Login',
                                                                                                            2 => 'Sobre',
                                                                                                            3 => 'Contato',
                                                                                                            4 => 'Politica',
                                                                                                            5 => 'Lojas',
                                                                                                            6 => 'Finaliza',
                                                                                                            7 => 'Pedidos',
                                                                                                            8 => 'Cadastro',
                                                                                                            9 => 'MeusDados',
                                                                                                            10 => 'Recover'
                                                                                                            ))); ?>
    </section>
<!-- ## FOOTTER -->
    <footer>
        <div class="container hidden-xs">
            <div class="col col-md-3">
                
                <h3>Dídio Pizza</h3>
                <p><a href="#" target="Sobre" action="view">Sobre nós</a></p>
                <p><a href="#" target="Lojas" action="view">Lojas</a></p>
                <p><a href="#" target="Politica" action="view">Política de privacidade</a></p>
                <p><a href="#" target="Contato" action="view">SAC</a></p>
                <p><big><a href="https://pt-br.facebook.com/didiopizza" target="_blank"><i class="flaticon-facebook56"></i></a> <a href="https://instagram.com/didiopizza/" target="_blank"><i class="flaticon-instagram16"></i></a> <a href="https://twitter.com/didiopizza" target="_blank"><i class="flaticon-twitter47"></i></a></big></p>

            </div>
            <div class="col col-md-3 hidden-xs">
                <h3>Baixe o aplicativo móvel</h3>
                <p class="text-center"><a target="_blank" href="http://onelink.to/e3jdwf"><img src="<?php echo PATH_PUBLIC; ?>images/qrcode.png"/></a></p>
            </div>
            <div class="col col-md-3 hidden-xs">
                <h3>&nbsp;</h3>
                <p><a target="_blank" href="https://itunes.apple.com/us/app/pizza-hut-brasilia/id1010678858?l=pt&ls=1&mt=8"><img src="<?php echo PATH_PUBLIC; ?>images/apple.png"/></a></p>
                <p><a target="_blank" href="https://play.google.com/store/apps/details?id=br.com.accon.pizzahut.brasilia"><img src="<?php echo PATH_PUBLIC; ?>images/google.png"/></a></p>
                <p><a target="_blank" href="https://www.microsoft.com/store/apps/9NBLGGH2VBX3"><img src="<?php echo PATH_PUBLIC; ?>images/windows.png"/></a></p>
                
            </div>
            <div class="col col-md-3 text-center">
                <p></p>
                <p><img src="<?php echo PATH_PUBLIC; ?>images/logo-alt.png" width="150px" height="auto"/></p>
                <p style="margin-top: 15px">Desenvolvido por <br/> <a href="http://accon.com.br/" target="_blank"><img src="<?php echo PATH_PUBLIC; ?>images/accon.png" width="120" style="margin-left: -10px; margin-top: -5px"/></a></p>
                <p style="margin-top: 15px"> <a href="http://accon.com.br/" target="_blank"><img src="<?php echo PATH_PUBLIC; ?>images/pixie.png" width="150" style="margin-left: -10px; margin-top: -5px"/></a></p>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    
                </div>
            </div>
        </div>
    </footer>
    
    <script src="<?php echo PATH_PUBLIC; ?>js/plugins.js" onLoad=" _plugins = true"></script>
    <script src="<?php echo PATH_PUBLIC; ?>js/js_produto.js"></script>
    <script src="<?php echo PATH_PUBLIC; ?>js/js_car.js"></script>
    <script src="<?php echo PATH_PUBLIC; ?>js/js_pedido.js"></script>
    <script src="<?php echo PATH_PUBLIC; ?>js/js_user.js"></script>
    <script src="<?php echo PATH_PUBLIC; ?>js/js_loja.js"></script>
    <script src="<?php echo PATH_PUBLIC; ?>js/js_cep.js"></script>
    <script src="<?php echo PATH_PUBLIC; ?>js/js_taxa.js"></script>
    <script src="<?php echo PATH_PUBLIC; ?>js/js_formaPagamento.js"></script>
    <script src="<?php echo PATH_PUBLIC; ?>js/js_address.js"></script>
    <script src="<?php echo PATH_PUBLIC; ?>js/js_email.js"></script>

    <script src="<?php echo PATH_PUBLIC; ?>js/auth.js" onLoad=" _auth = true"></script>
    <script src="<?php echo PATH_PUBLIC; ?>js/services.js" onLoad=" _auth = true"></script>
    <script src="<?php echo PATH_PUBLIC; ?>js/view.js" onLoad=" _view = true"></script>
    <script src="<?php echo PATH_PUBLIC; ?>js/model.js" onLoad=" _model = true"></script>
    <script src="<?php echo PATH_PUBLIC; ?>js/main.js" onLoad=" _model = true"></script>
    <script>

     
        window.setTimeout('checkJs()', 10);
        function checkJs(){
            if(!_jquery || !_plugins || !_view || !_model || !_auth){
                //alert('Não foi possível carregar todos os arquivos necessários do servidor. Tente novamente ou entre em contato com a Assistencia Técnica: 0800 23245')
                //console.log("Erro ao carregar (false para não carregado): jQuery: " + _jquery + ", plugins.js: " + _plugins + ", view.js: " + _view + ", model.js: " _model + ", auth.js: " + _auth)
            }
        }
    </script>
    <script type="text/javascript">
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/client:plusone.js?onload=renderGoogleButton&language=pt-BR';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
    </body>
</html>