
    
    <section container="cardapio"  view="Cardapio">
        <div class="row text-center hidden-xs hidden-sm" id="intro">
            <div class="col-md-2 col">
                <div class="col-md-12"><big><i class="icon flaticon-show6" style="position: relative; top: -1px"></i></big></div>
                <div class="col-md-12"><h3>Peça já a sua!</h3></div>
                <div class="col-md-12"><p>Monte seu pedido aproveitando nossas promoções!</p></div>
            </div>
            <div class="col-md-2 col">
                <div class="col-md-12"><big><i class="icon flaticon-user157" style="position: relative; top: -2px"></i></big></div>
                <div class="col-md-12"><h3>Acesse sua conta</h3></div>
                <div class="col-md-12"><p>Ou veja com é fácil se cadastrar</p></div>
            </div>
            <!--<div class="col-md-3 col">
                <div class="col-lg-3 col-md-12"><big>3</big></div>
                <div class="col-lg-9 col-md-12"><h3>Aguarde alguns minutos</h3></div>
            </div>-->
            <div class="col-md-2 col">
                <div class="col-md-12"><big><i class="icon flaticon-man459" style="position: relative; top: -2px"></i></big></div>
                <div class="col-md-12"><h3>Entregamos super rápido!</h3></div>
                <div class="col-md-12"><p>Você pode escolher receber no conforto da sua casa ou...</p></div>
            </div>
            <div class="col-md-2 col">
                <div class="col-md-12"><big><i class="icon flaticon-map103" style="position: relative; top: -2px"></i></big></div>
                <div class="col-md-12"><h3>Você também pode buscar em uma Loja Dídio Pizza</h3></div>
                <div class="col-md-12"><p>Nos ficaremos felizes em te ver</p></div>
            </div>
            <div class="col-md-2 col">
                <div class="col-md-12"><big><i class="icon flaticon-clock100" style="position: relative; top: -2px"></i></big></div>
                <div class="col-md-12"><h3>Acompanhe online seu Pedido</h3></div>
                <div class="col-md-12"><p>Após escolher sua forma de pagamento você vai rastrear seu Pedido</p></div>
            </div>
            <div class="col-md-2 col">
                <div class="col-md-12"><big><i class="icon flaticon-black399" style="position: relative; top: -2px"></i></big></div>
                <div class="col-md-12"><h3>Só Dídio Pizza é Dídio Pizza</h3></div>
                <div class="col-md-12"><p>Nos conte como foi sua experiência!</p></div>
            </div>
        </div>

        <article class="col hidden-xs" id="cardapio">


        <!-- VISIBLE SMARTPHONES -->
            <!--<div class="row actions visible-xs" id="categs" style="margin-top: calc(22px + 21pt)">

                <div class="col-xs-12">
                    <button class="fluid promo" data-target="Promoções"><i class="icon flaticon-mark1"></i> Promoções</button>
                </div>
        
                <div class="col-xs-12">
                    <a action="view" target="Cardapio" data-categ="PIZZAS">
                        <button class="fluid" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(App/views/public/images/categ5.jpg); background-size: cover; background-position: center">Pizzas</button>
                    </a>
                </div>
                <div class="col-xs-6 left">
                    <a href="#" target="Cardapio" action="view" data-categ="MASSAS">
                        <button class="fluid" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(App/views/public/images/categ4.jpg); background-size: cover; background-position: center">Massas</button>
                    </a>
                </div>
                <div class="col-xs-6 right">
                    <a href="#" target="Cardapio" action="view" data-categ="ENTRADAS">
                         <button class="fluid" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(App/views/public/images/categ1.jpg); background-size: cover; background-position: center">Entradas</button>
                    </a>
                </div>
                <div class="col-xs-6 left">
                    <a href="#" target="Cardapio" action="view" data-categ="SOBREMESAS">
                        <button class="fluid" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(App/views/public/images/categ2.jpg); background-size: cover; background-position: center">Sobremesas</button>
                    </a>
                </div>
                <div class="col-xs-6 right">
                    <a href="#" target="Cardapio" action="view" data-categ="BEBIDAS">
                        <button class="fluid" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(App/views/public/images/categ3.jpg); background-size: cover; background-position: center">Bebidas</button>
                    </a>
                </div>
            </div>-->



        <!-- VISIBLE DESKTOP -->

            <div id="cardapiocontainer">

                    <span list="Combos" style="display: block; clear: both"></span>
                    <span list="Produtos" style="display: block; clear: both"></span>
            </div>
       
     </article>



    <!-- VISIBLE SMARTPHONES -->    

        
        <article class="row visible-xs actions" id="home">
            <!--<div class="col-xs-12 text-center">
                <h2><i class="icon flaticon-phone372"></i> 0800 87458</h2>
            </div>-->
            <div class="col-xs-12">
                <button class="fluid" onClick="javascript: showMenu()"><i class="icon flaticon-show6"></i> Ver cardápio</button>
            </div>
            <div class="col-xs-6 left">
                <a href="#" target="Lojas" action="view">
                    <button class="fluid"><i class="icon flaticon-map103"></i> Lojas</button>
                </a>
            </div>
            <div class="col-xs-6 right">
                <a href="#" target="Login" action="view" >
                    <button class="fluid" target="name-login"><i class="icon flaticon-user157"></i> Login</button>
                </a>
            </div>
        </article>
        <!--<article class="col" list="Produtos">
                <h1 class="groupname">Cardápio</h1>
                <ul class="products">
                    <li><i class="fa fa-spinner fa-spin"></i> Carregando ...</li>
                </ul>
        </article>-->
    </section>
    